<TABLE cellpadding="3" WIDTH="100%">
        <TR class="light">
                <TD width="1%" class="fleftu">
                        <IMG src="img/money.gif" alt="">
                </TD>
                <TD width="1%" class="fbt" NOWRAP>
                        <B>Taryfa:</B>
                </TD>
                <TD width="98%" class="frightu" NOWRAP>
                        <INPUT type="checkbox" name="document[faktury]" value="1">&nbsp;Z fakturami (doliczone +5 z&#322;)<BR>
                </TD>
        </TR>
</TABLE>
